.top-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 100%;
  margin-right: 0;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  background-color: #fff;
}

.web-heading {
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #000;
  margin-left: 270px;
}

.sub-text {
  color: green;
}

.icons {
  font-size: 40px;
  color: #000;
  background-color: #ecedef;
  padding: 10px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  outline: none;
  margin: 10px;
}
